<AuthorizeView>
    <Authorized>
        <a class="btn btn-outline-primary" href="logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <a class="btn btn-outline-primary" href="login?redirectUri=/">Login</a>
    </NotAuthorized>
</AuthorizeView>