@inherits LayoutComponentBase

<PageTitle>ChristopherChurch.UI</PageTitle>

<div class="mainlayout">
    <NavBar />
    <div class="d-flex justify-content-between px-4">
        <div></div> 
        <div>
            <AccessControl />
            <a href="https://churchofgod.org/beliefs/church-of-god-is/" target="_blank">About</a>
        </div>
    </div>

    <div class="row">
        @Body
    </div>
</div>

