@inherits LayoutComponentBase

<PageTitle>ChristopherChurch.UI</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div>
            <NavMenu />
        </div>
        <div class="col-md-12">
            <main role="main" class="pb-3">
                <div class="container">
                    @Body
                </div>
            </main>
        </div>
    </div>
</div>
