@inherits LayoutComponentBase

<PageTitle>ChristopherChurch.UI</PageTitle>

<div class="mainlayout">
    <NavBar />
    <div class="row">
        <!-- Your main content goes here -->
        @Body
    </div>
</div>

