<nav class="navbar navbar-dark">
    <div class="row w-100">
        <div class="toggle-box col-1">
            <button class="navbar-toggler" @onclick="ToggleMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-9">
            <a class="navbar-brand mx-auto" href="#">
                <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/DarkLogo.jpg" alt="Logo" class="logo-img">
            </a>
        </div>

        <!-- Dropdown menu -->
        <div class="col-12">
            <div class="collapse navbar-collapse" style="display: @(isMenuOpen ? "block" : "none")">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                            <span class="oi oi-home" aria-hidden="true"></span> Home
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Events">
                            <span class="oi oi-calender" aria-hidden="true"></span> Events
                        </NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="Person">
                            <span class="oi oi-people" aria-hidden="true"></span> Person
                        </NavLink>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>

@code {
    private bool isMenuOpen = false;

    private void ToggleMenu()
    {
        isMenuOpen = !isMenuOpen;
    }
}
