<div class="top-row ps-3 navbar navbar-expand-lg navbar-dark bg-light">
    <div class="navbar-brand">
        <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/DarkLogo.jpg" class="logo-img img-fluid" alt="Logo" />
    </div>
    <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>    <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    </div>
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Person">
                    <span class="oi oi-people" aria-hidden="true"></span> Person
                </NavLink>
            </div>
        </nav>
    </div>-->
@code {
    private bool collapseNavMenu = true;

     private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

     private void ToggleNavMenu()
     {
         collapseNavMenu = !collapseNavMenu;
     }
}

