@page "/Auth0Logs"
@inject AuthenticationStateProvider AuthenticationStateProvider
@inherits ComponentBase

<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            <div>
                <p>Welcome, @context.User.Identity?.Name!</p>
                <button @onclick="Logout">Logout</button>
            </div>
        </Authorized>
        <NotAuthorized>
            <div>
                <button @onclick="Login">Login</button>
            </div>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    [Inject]
    private IAuthService? AuthService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    private async Task Login()
    {
        try
        {
            await AuthService!.LoginAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during login: {ex.Message}");
        }
    }

    private async Task Logout()
    {
        try
        {
            await AuthService!.LogoutAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error during login: {ex.Message}");
        }
    }
}