<div class="baptism-gal">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center p-2">Recent Baptism's</h2>
        </div>
        <div class="col-md-6">
            <img src="@currentImage.Path" alt="@currentImage.AltText" class="img-fluid" />

            <button @onclick="ChangeImage" class="btn btn-outline-warning rounded" style=" transform: translate(10%, -100%); ">
                Next Image
            </button>
        </div>
        <div class="col-md-6 px-5">
            <h5 class="text-center pb-3">Baptism is a public confession of faith!</h5>
            <p>
                Jesus challenged his disciples to confess their faith before others
                and to walk before others as his disciples.
            </p>
            <p>
                "So everyone who acknowledges me before men,
                I also will acknowledge before my Father who is in heaven,
                but whoever denies me before men,
                I also will deny before my Father who is in heaven." -Matthew 10 : 32-33
            </p>
            <p>
                "We were buried therefore with him by baptism into death, in order that,
                just as Christ was raised from the dead by the glory of the Father,
                we too might walk in newness of life." -Romans 6 : 4
            </p>
            <p>
                "Baptism, which corresponds to this, now saves you,
                not as a removal of dirt from the body but as an appeal to God for a good conscience,
                through the resurrection of Jesus Christ." -1 Peter 3 : 21
            </p>
            <p>
                Baptism presents an opportunity for all believers to publicly
                display that Jesus is their Lord and Savior.
            </p>
        </div>
    </div>
</div>



    @code {
        private List<BaptismGalleryModel> baptismImages = new List<BaptismGalleryModel>
{
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Aubry.jpg", AltText= "Picture of Aubry's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Addison.jpg", AltText= "Picture of Addison's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Brittnay.jpg", AltText= "Picture of Brittnay's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Gabby.jpg", AltText= "Picture of Gabby's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Heather.jpg", AltText= "Picture of Heather's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Kayah.jpg", AltText= "Picture of Kayah's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Mavrick.jpg", AltText= "Picture of Mavrick's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Tyra.jpg", AltText= "Picture of Tyra's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Avery.jpg", AltText= "Picture of Avery's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Seth.jpg", AltText= "Picture of Seth's Baptism"}
    };

        int currentIndex = 0;
        BaptismGalleryModel currentImage => baptismImages[currentIndex];

        void ChangeImage()
        {
            currentIndex = (currentIndex + 1) % baptismImages.Count;
        }
    }