@page "/BaptismGallery"
        <div class="baptism-gal-container">
                <img src="@currentImage.Path" alt="@currentImage.AltText" class="img-fluid" />
                <button @onclick="ChangeImage" class="changeimg-button btn btn-primary rounded" style="max-width: 90%">Next Image</button>
        </div>

    @code {
        private List<BaptismGalleryModel> baptismImages = new List<BaptismGalleryModel>
{
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Addison.jpg", AltText= "Picture of Addison's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Aubry.jpg", AltText= "Picture of Aubry's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Brittnay.jpg", AltText= "Picture of Brittnay's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Gabby.jpg", AltText= "Picture of Gabby's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Heather.jpg", AltText= "Picture of Heather's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Kayah.jpg", AltText= "Picture of Kayah's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Mavrick.jpg", AltText= "Picture of Mavrick's Baptism"},
        new BaptismGalleryModel { Path = "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Tyra.jpg", AltText= "Picture of Tyra's Baptism"}
    };

        int currentIndex = 0;
        BaptismGalleryModel currentImage => baptismImages[currentIndex];

        void ChangeImage()
        {
            currentIndex = (currentIndex + 1) % baptismImages.Count;
        }
    }