@page "/BaptismGallery"

<h3>Baptism Photo Gallery</h3>

<div class="slideshow-container">
    @for (int i = 0; i < imageUrls.Length; i++)
    {
        <div class="mySlides" style="display: @(i == 0 ? "block" : "none")">
            <img src="@imageUrls[i]" style="width:100%; height:400px;">
        </div>
    }

    <button @onclick="(() => PlusSlides(1))">Next</button>
</div>

@code {

    private int slideIndex = 1;
    private string[] imageUrls = new[]
    {
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Addison.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Aubry.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Brittnay.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Gabby.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Heather.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Kayah.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Mavrick.jpg",
        "https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/Tyra.jpg"
    };

    private void PlusSlides(int n)
    {
        ShowSlides(slideIndex += n);
    }

    private void ShowSlides(int n)
    {
        if (n > imageUrls.Length) { slideIndex = 1; }
        if (n < 1) { slideIndex = imageUrls.Length; }
        StateHasChanged(); 
    }


    }