@page "/Events/Display"
@inject IEventsData _db
@inject IJSRuntime JSRuntime
@inject GoogleApiSettings GoogleApiSettings
@inject IGoogleCalendarService GoogleCalendarService
@inject AuthenticationStateProvider AuthenticationStateProvider



<div class="eventpage">
    <h2 class="text-center">Events</h2>

    @if (events != null && events.Any())
    {
        var upcomingEvent = events.OrderBy(e => e.EventDate).First();

        <div class="row mb-3">
            <div class="col">
                <div class="card border-dark">
                    <div class="card-body">
                        <h5 class="card-title">@upcomingEvent.EventName</h5>
                        <p class="card-text">@upcomingEvent.Description</p>
                        <p class="card-text">Event Date: @upcomingEvent.EventDate.ToShortDateString()</p>
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <AuthorizeView>
                                        <button class="btn btn-outline-primary rounded" @onclick="() => NavigateToEditEvent(upcomingEvent)">Edit</button>
                                        <button class="btn btn-outline-primary rounded" @onclick="NavigateToCreateEvent">Create Event</button>
                                    </AuthorizeView>
                                </div>
                                <div class="col-12 mt-2">
                                    <button class="btn btn-outline-primary rounded" @onclick="NavigateToAllEvents">All Events</button>
                                    <AuthorizeView>
                                        <button class="btn btn-outline-danger rounded" @onclick="() => NavigateToDeleteEvent(upcomingEvent)">Delete</button>
                                    </AuthorizeView>
                                </div>
                                <div class="col-12 mt-2">
                                    <button class="btn btn-outline-primary rounded" @onclick="() => AddToGoogleCalendar(upcomingEvent.EventName)">Add to Google Calendar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container mb-3">
            <p>No current events available.</p>
            <AuthorizeView>
                <button class="btn btn-outline-primary rounded" @onclick="NavigateToCreateEvent">Create Event</button>
            </AuthorizeView>
        </div>
    }
</div>


@code {
    private List<EventModel>? events;

    [Inject] private NavigationManager? NavigationManager { get; set; }
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    private string? googleUserToken;
    private bool hasCalledJsInterop = false;


    protected override async Task OnInitializedAsync()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;
        }
        await LoadEvents();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (firstRender && !hasCalledJsInterop)
            {
                // Call the JavaScript function using JSInterop
                googleUserToken = await JSRuntime.InvokeAsync<string>("googleInterop.getGoogleUserToken");

                // Set the flag to true to ensure the interop call is not made again
                hasCalledJsInterop = true;

                // StateHasChanged is needed to trigger a re-render and update the UI with the new value
                StateHasChanged();
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading events: {ex.Message}");
        }
    }

    private async Task LoadEvents()
    {
        try
        {
            events = (await _db.GetAllEvents()).ToList();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error loading events: {ex.Message}");
        }
    }
    private void NavigateToEditEvent(EventModel eventModel)
    {
        if (eventModel != null)
        {
            NavigationManager!.NavigateTo($"/Events/Edit/{eventModel.EventName}");
        }
        else
        {
            Console.WriteLine($"Error: Event not found for EventName: {eventModel!.EventName}");
        }
    }
    private void NavigateToCreateEvent()
    {
        NavigationManager!.NavigateTo("/Events/Create");
    }
    private void NavigateToDeleteEvent(EventModel eventModel)
    {
        if (eventModel != null)
        {
            NavigationManager!.NavigateTo($"/Events/Delete/{eventModel.EventName}");
        }
        else
        {
            Console.WriteLine($"Error: Event not found for EventName: {eventModel!.EventName}");
        }
    }
    private void NavigateToAllEvents()
    {
        NavigationManager!.NavigateTo("/Events");
    }

    private async Task AddToGoogleCalendar(string eventName)
    {
        try
        {
            var userToken = await JSRuntime.InvokeAsync<string>("googleInterop.getGoogleUserToken");

            if (!string.IsNullOrEmpty(userToken))
            {
                // Call the backend service to add the event to Google Calendar
                await GoogleCalendarService.AddEventAsync(eventName, userToken);

                // Handle any additional logic after adding the event
            }
            else
            {
                Console.WriteLine("Error: Unable to get Google user token.");
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error adding event to Google Calendar: {ex.Message}");
        }
    }
}

