@page "/Giving"
@inject NavigationManager NavigationManager

<!--TODO Finish setting up Stripe Payment Service-->
<div class="givingform">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-center">Givings</h3>
            <h6>It's amazing to see the difference a small contribution can make.</h6>
            <div class="text-center my-3">
                <button @onclick="LaunchStripeCheckout" class="btn btn-outline-primary">Donate</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void LaunchStripeCheckout()
    {
        NavigationManager.NavigateTo("https://buy.stripe.com/test_14k8xTd6T87A7VC9AA");
    }
}

