@page "/Giving"
@inject NavigationManager NavigationManager

<!--TODO!!! Set Church Account up for Strip-->
<div class="givingform">
    <div class="row justify-content-center">
        <div class="col-10">
            <h3 class="text-center">Givings</h3>
            <h6>
                We Kindly invite you to support our church through your generous donations.
            </h6>
            <p>
                Your conttributions play a vital role in sustaining our community
                and enabling us to continue speading the love of Jesus.
            </p>
            <div class="text-center my-3">
                <button @onclick="LaunchStripeCheckout" class="btn btn-outline-primary">Donate</button>
            </div>
        </div>
    </div>
</div>

@code {
    private void LaunchStripeCheckout()
    {
        NavigationManager.NavigateTo("https://donate.stripe.com/28odUI1VB5XYdLq3cc");
    }
}

