@page "/"

<PageTitle>Christopher Church Home Page</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl">
            <ServiceVideo></ServiceVideo>
        </div>
        <div class="col-lg">
            <BaptismGallery></BaptismGallery>
        </div>
        <div class="col-lg">
            <PrayerRequest></PrayerRequest>
        </div>
        <div class="col-lg">
            <Giving></Giving>
        </div>
    </div>
</div>
