@page "/"

<PageTitle>Christopher Church Home Page</PageTitle>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <ServiceVideo></ServiceVideo>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <Services></Services>
        </div>
        <div class="col-12">
            <BaptismGallery></BaptismGallery>
        </div>
        <div class="col-12">
            <PrayerRequest></PrayerRequest>
        </div>
        <div class="col-12">
            <Giving></Giving>
        </div>
    </div>
</div>
