@page "/Ministries"
@inject NavigationManager NavigationManager

@if (NavigationManager.Uri.Contains("/Ministries"))
{
    <div class="container-fluid pb-3">
        <div class="row justify-content-evenly">
            <div class="col-12 ministries">
                <h1 class="text-center">Ministries</h1>
            </div>
            <div class="col-sm-11 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">All Team Members must have:</h4>
                        <ul>
                            <li> A heart for God</li>
                            <li>A love for people</li>
                            <li>A passion for God’s Word</li>
                            <li>A habit of praying</li>
                            <li>A commitment to personal growth</li>
                            <li>A willingness to prepare</li>
                        </ul>
                    </li>
                    <li>
                        <p>
                            Christopher Church Of God values all of our team members
                            and desires to see all member grow into their full calling.
                            We hope you consider getting involved and becoming God's
                            hands and feet to serve others as Jesus has done for us.
                        </p>
                        <p>
                            "But whoever would be great among you must be your servant,
                            and whoever would be first among you must be your slave,
                            even as the Son of Man came not to be served but to serve,
                            and to give his life as a ransom for many." -Matthew 20:26-28
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Teachers</h4>
                        <ul>
                            <li>Adult Sunday School</li>
                            <li>Teen Sunday School</li>
                            <li>Childrens Sunday School</li>
                            <li>Adult Wednesday Class</li>
                            <li>Teens Wednesday Class</li>
                            <li>Childrens Wednesday Class</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Teacher Team Members should prepare lessons for a variety of age groups,
                            instruct on Bible stories, church doctrine, and character building.
                            Must have an ability to teach, serve well with others, and dedicated to the people your teaching.
                            All lessons must be from the Bible.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Custodians</h4>
                        <ul>
                            <li>Sanctuary</li>
                            <li>Bathrooms</li>
                            <li>Classrooms</li>
                            <li>Fellowship Hall</li>
                            <li>Windows</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Custodian Team Members  shoulder look after, clean, and care for all areas inside the building.
                            Members should maintain all areas to the best of there ability, enjoy serving with others, tolerate standing long periods,
                            enjoy serving others, and able to clean using normal house hold cleaning supplies.
                        </p>
                    </li>
                </ul>
            </div>

            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Cooks</h4>
                        <ul>
                            <li>Sunday School</li>
                            <li>Wednesday Class</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Cook Team Members shoulder prepare and cook food properly.
                            As well as in lines with health and food administration or Church policy. Can tolerate standing
                            for long periods of time as well as serving others. All the while maintaining a cheerful
                            demeanor.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Worship</h4>
                        <ul>
                            <li>Guitar</li>
                            <li>Drums</li>
                            <li>Bass</li>
                            <li>Piano</li>
                            <li>Vocals</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Woshiper Team Members  shoulder be musically talented, abile to play an instrument or sing,
                            willing to practice with other members, willing to devote own time to honing gift, and enjoy serving with others.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Greeters</h4>
                        <ul>
                            <li>Front door</li>
                            <li>Parking lot</li>
                            <li>Greeting</li>

                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Greeter Team Members shoulder welcome people entering the building. Team members should be cheerful, enthrusiastic,
                            loving, welcoming, able to stand long periods, enjoy serving others, and enjoy serving with others.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Lawn Care</h4>
                        <ul>
                            <li>Weedeater</li>
                            <li>Trimmer</li>
                            <li>Landscaper</li>
                            <li>Any Exterior building needs</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Lawn Care Team Members shoulder enjoy maintaining lawns, gardens, flowerbeds, and grounds.
                            This involves mowing grass, trimming hedges, removing debris, and any other outdoor tasks the property needs.
                            Members should be able to stand long periods, able to use lawn equipment, able to lift up to 50 lbs, and enjoy serving with others.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Parking Lot Care</h4>
                        <ul>
                            <li>Trash outside</li>
                            <li>Parking</li>
                            <li>Greeting</li>
                            <li>Any Parking lot needs</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Parking Lot Care Team Members shoulder enjoy helping people find a safe and
                            reasonable place to park. Members should be able to stand long periods, enjoy serving others, enjoy serving with others,
                            friendly, enthusiatic, and willing to pick up any trash on grounds.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Technical</h4>
                        <ul>
                            <li>Computer</li>
                            <li>Sound Board</li>
                            <li>Any Technical building needs</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Technical Team Members shoulder be able to set up/maintain audio equipment, knowledge of new technical equipment,
                            and basic computer skills. Members should enjoy serving others, enjoy serving with others,
                            able to maintain a clean area.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Outreach</h4>
                        <ul>
                            <li>Broshears</li>
                            <li>Communitcation</li>
                            <li>Marketing</li>
                            <li>Any Outreach needs</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Outreach Team Members plan, direct, and coordinate activities designed
                            to create and maintain a honorable public image. Also should raise issue awareness
                            for the church. Team members must be knowledge able of Marketing, Sales,
                            a Good Communicator, Friendly, Welcoming, willing to prepare, respectful of others,
                            able to stand for long periods, and be Enthusiatic.
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-5 ministries">
                <ul class="list-unstyled d-grid gap-2">
                    <li>
                        <h4 class="text-center">Care</h4>
                        <ul>
                            <li>Calling</li>
                            <li>Communication</li>
                            <li>Hospital Visits</li>
                            <li>Home Visits</li>
                            <li>Any Congregational needs</li>
                        </ul>
                    </li>
                    <li>
                        <p class="p-3 mb-3">
                            Care Team Members are responsible for providing
                            basic congregational needs and comfort. Members should call to check on
                            missing congregational members, perform hospital visits for the sick, perform home visits,
                            and communicate to all in their path that they love and care for them.
                            Team Members must be friendly, caring, loving, nurturing, compasionate,
                            able to talk on a phone, able to travel, able to stand long periods of time,
                            and most of all able to share Jesus love for them.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col text-center mt-3">
            <button @onclick="NavigateToMinistryForm" class="btn btn-outline-primary rounded">Join a Team!</button>
        </div>
    </div>
}
else
{
    <div class="ministry">
        <div class="row justify-content-center">
            <div class="col-10">
                <h3 class="text-center">Ministry</h3>
                <h6>Explore our ministries and join a team to serve!</h6>
                <div class="text-center my-3">
                    <button @onclick="NavigateToMinistries" class="btn btn-outline-primary">Ministries</button>
                </div>
            </div>
        </div>
    </div>

}

@code {
    private void NavigateToMinistries()
    {
        NavigationManager.NavigateTo("/Ministries");
    }
    private void NavigateToMinistryForm()
    {
        NavigationManager.NavigateTo("/MinistryForm");
    }
}

