<div class="container-fluid servicebox">
    <div class="row">
        <div class="col col-12 text-center">
            <h3>Services</h3>
        </div>
        <div class="col col-12">
            <h6>Sunday School 10:00 Am</h6>
        </div>
        <div class="col col-12">
            <h6>Sunday Service 11:00 AM</h6>
        </div>
        <div class="col col-12">
            <h6>Wednesday Service 6:30 PM</h6>
        </div>
    </div>
</div>


