<!--TODO!! Get rid of margins and choose a solid background-->
<div class="col-12 servicebox">
    <ul class="list-unstyled">
        <li>
            <h2 class="text-center">Services</h2>
            <ul>
                <li><h3 class="p-1 mb-1">10:00 AM  Sunday School</h3></li>
                <li><h3 class="p-1 mb-1">11:00 AM Sunday Service</h3></li>
                <li><h3 class="p-1 mb-1">6:30 PM Wednesday Service</h3></li>
            </ul>
        </li>
    </ul>
</div>

