<div class="servicebox">
    <ul class="list-unstyled">
        <li>
            <h2 class="text-center">Services</h2>
            <ul>
                <li><h3 class="p-1 mb-1">10:00 AM  Sunday School</h3></li>
                <li><h3 class="p-1 mb-1">11:00 AM Sunday Service</h3></li>
                <li><h3 class="p-1 mb-1">6:30 PM Wednesday Service</h3></li>
            </ul>
            <h4>Join us at:</h4>
            <h5> 2960 Christopher Rd,</h5>
            <h5>Hazard, KY 41701</h5>
        </li>
    </ul>
</div>

