@page "/ServiceVideo"

<PageTitle>ServiceVideo</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="ratio ratio-16x9">
            <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2FChristopherChurchofGod%2Fvideos%2F699258491574496%2F&show_text=false&width=560&t=0"
                    style="border:none;overflow:hidden" scrolling="no" frameborder='0'
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                    allowFullScreen="true">
            </iframe>
        </div>
        <div>
            <a class="btn btn-outline-primary rounded-pill my-3" href="https://www.facebook.com/ChristopherChurchofGod/live_videos"
               role="button" title="Link to Facebook live">Watch Services</a>
        </div>
    </div>
</div>
