<div class="socialpage">
    <div class="container-fluid">
        <div class="row justify-content-evenly">
            <div class="col-9">
                <h3>Let's Connect!</h3>
                <p>Follow us on Facebook</p>
                <div>
                    <a href="https://www.facebook.com/ChristopherChurchofGod">
                        <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/facebook.png"
                             alt="Facebook Icon" title="This take you to our Facebook page" class="socialmedia" />
                    </a>
                    <a href="mailto: ccoghazard@gmail.com">
                        <img src="https://raw.githubusercontent.com/michaelshep52/CCOGPictures/main/gmail.png"
                             alt="Gmail Logo" title="This directs you to email us!" class="socialmedia2" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


